/* CAPACITACIONES ----------------- */
.capacitaciones__h2 {
    height: 200px;
    background-image: $fondoSubtitulo;
    font-size: 2rem;
    text-align: center;  
    justify-content: center;
    padding-top: 70px;
}
.capacitaciones__main {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    @include main;
}

.carousel-item { 
    align-content: center;
    justify-content: center;
    .carrusel__video {
        padding-left: 20%;
        padding-right: 20%;
        height: 300px;
        }
}
.carousel__icon {
     filter: invert(108%);
}

    
