@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:wght@400;500&family=DM+Serif+Display&family=Glegoo:wght@700&family=Kanit:wght@100;200;300;400;800&family=Noto+Serif:ital@0;1&family=PT+Serif:ital@0;1&family=Roboto+Slab:wght@300;400&family=Roboto:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
.body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;
    min-height: 100vh;
    max-width: 100%;
}

