@import url('https://fonts.googleapis.com/css2?family=Anton&family=Glegoo:wght@700&family=Noto+Serif:ital@0;1&family=PT+Serif:ital@0;1&family=Roboto+Slab:wght@300;400&family=Roboto:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}
.body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;
    padding-bottom: 60px;
    min-height: 100vh;
    max-width: 100%;
}

