// /* HEADER ----------------- */

.header{
    background-color: map-get($colores, "bkg");
    color: map-get($colores, "letra");
    width: 100%;
    height: 45px;
    position: fixed;
    z-index: 2;
    &__image{
        filter: brightness(1.1);
        mix-blend-mode: multiply;
        display: inline-block;
        margin-left: 17px;  
    }
    &__navegador{
        background-color: map-get($colores, "bkg");
        color: map-get($colores, "letra");
        justify-content: center;
        padding: 0 15px 0 15px;
        &__li{
          list-style: none;
          padding: 10px 20px 10px 20px;  
          float: left;
          justify-content: center;
          background-color: map-get($colores, "bkg");
          &--a {
              text-decoration: none;
              color: map-get($colores, "letra");
              transition: all 0.4s linear;
              border-radius: 4px;
              padding: 1rem;
              justify-content: center;
              background-color: map-get($colores, "bkg")
            }
        }
        .header--a:hover {
        background: map-get($colores, "hoverUl");
        border-radius: 5%;
        }
    }
}

