 /* INICIO -------------------- */
.index__body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: relative;
    .index__main {
        @include main
        padding-bottom: 20px;
        .index__hero{
            height: 630px;
            background-image: url("../assets/fondo.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;    
            // .hero::before{
            //     content: " ";
            //     background: map-get($colores, "opacity");
            //     opacity: 0.3;
            //     height: 100%;
            //     width: 100%;
            //     position: absolute;
            // }
            .index__h1 {
                color: map-get($colores, "h");
                font-size: 70px;
                text-align: center;   
                font-weight: 110%;
            }
            .index__h2 {
                color: map-get($colores, "h");
                font-size: 29px;
                text-align: center;
                margin-bottom: 40px;  
                animation-name: aparecer;
                animation-iteration-count: 1;
                animation-duration: 2.5s;
                @keyframes aparecer {
                    0% {opacity: 0;}
                    50% {opacity: 0.5;}
                    100% {opacity: 1;}
                }
            }
            .index__hero--button {
                background-color: map-get($colores, "buttonHero");
                font-size: 16px;
                border-radius: 4px;
                padding: 10px;
                border: none;
                position: relative;
                transition: 0.5s;
            }
            .index__hero--button:hover {
                background: #fff;
            }
    }
    .index__h3 {
        @include h3;
        background-image: $fondoSubtitulo;
        font-size: 1.8rem;
        text-align: center;  
        justify-content: center;
        padding-top: 18px;
        height: 70px;       
    }    
    .index__h3--margin {
        margin-top: 30px;
        margin-bottom: 20px;
    }  
    .index--rowCard {
        margin-right: 2rem;
        margin-left: 2rem;
        .index__card {
            height: 30vh;
            justify-content: center;
            cursor: default;
            transition: height 0.5s;
            .index__card--parrafo {
                margin-bottom: 0px;
                padding: 0px;
                .index__icon {
                    color: map-get($colores, "aCard");
                    font-size: 49px;
                  }
            }
            .card__a {
                margin-top: 20px;
                text-decoration: none;
                display: inline-block;
                margin-bottom: 5px;
                color: map-get($colores, "letra");
                border: 1px solid black;
                border-radius: 3px;
                transition: 0.5s;
                background-color:map-get($colores, "bkgCard");
                width: 150px;
                align-self: center;
            } 
            .card__a:hover {
                background:map-get($colores, "aCardHover");
                color: map-get($colores, "h");
            }
        }   
        .card__index:hover {
            height: 95%;
            /* width: %; */
            z-index: 1;
        }
    } 
    .index__container--casoExito {
        background-color: map-get($colores, "containerCasoExito");
        padding: 50px;

        .index__casoExito--card {
            padding: 10px;
        }
        .index__casoExito--card1 {
            margin-top: 0;
        }
        .index__casoExito--col {
           justify-content: center;
           align-items: center;
           align-content: center; 
           .index__h4 {
                font-size: 1.5rem;
                justify-content: center;
                align-items: center;
                text-align: center;
           }
           .index__casoExito--img1 {
                width: 77%;
           }
           .index__casoExito--img2 {
                width: 60%;
           }
           .index__casoExito--img3 {
            width: 80%;
       }
        }
    }
    }
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
 