/* -----------------------------------------------
---------------- MEDIA QUERIES --------------- */

@media screen and (max-width: 480px) {
   
    .header{
        background-color: lightgrey;
        color: black;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        &__image{
            display: flex;
            justify-content: center;  
        }
        &__navegador{
            background-color: lightgrey;
            color: black;
            // margin: 0px;
            // padding: 0px;
            justify-content: flex-end;
            width: 100%;
            &__ulnavegador {
                font-size: 16px;
                margin: 0px;
                padding: 0px;
            }
        }
    }
    .header--a:hover {
        background: map-get($colores, "hoverUl");
        border-radius: 5%;
        }
    main h2 {
        height: 250px;
        padding-top: 100px;
    }
    
    
    /* INICIO ---------------------- */
    .index__h1 {
        margin-bottom: 35px;
        color: #fff;
        font-size: 2rem;
        text-align: center; 
        display: flex;
        flex-direction: column;
    }
    .index__h2 { 
        display: none;
    }

    .index__hero--button {
        font-size: 12px;
    }        

    
    /* SERVICIOS -------------------- */
    
    
    .servicios--subtitulo {
        margin-top: 20px;
    }
    
    
    /* CONTACTO -------------------- */
    
    .contacto__formulario {
         width: 300px;
     }
    }

    @media screen and (max-width: 768px) {
        .servicios__div {
            flex-direction: column;
        }
    }

 /* ----------------- DESKTOP -------------------- */
@media screen and (min-width: 768px) {
    .header__navegador{
        height: 45px;
     }
     .servicios__div {
        flex-direction: row;
    }    
     
}
@media screen and (min-width: 480px) {
    .contacto__formulario {
        width: 500px;
    }
   }