/* SERVICIOS -------------------- */

.servicios__main {
    height: 100vh;
    // max-width: 100%;
    @include main
}
.servicios__h2 {
    @extend .capacitaciones__h2;
}
.div__servicios {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 17px;
    margin-right: 17px;
    margin-top: 25px;
    column-gap: 2rem;
    .div-s {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
    }
    .img__servicios {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-bottom: 15px;
    }
    .servicios--subtitulo {
        text-align: center;
    }
}
