/* SERVICIOS -------------------- */

.servicios__main {
    position: relative;
    padding-bottom: 20px;
    @include main
    .servicios__h2 {
        @extend .capacitaciones__h2;
    }
    .servicios__h3 {
        @extend .sobre__h3;
        text-align: center;    
    }
    .servicios__div {
        max-width: 100%;
        display: flex;
        margin-left: 17px;
        margin-right: 17px;
        margin-top: 25px;
        column-gap: 2rem;
        .servicios__div--div {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            align-content: center;
            margin-left: 15px;
            margin-right: 15px;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 10px;
            margin-bottom: 25px;
            flex-grow: 1;
            background: map-get($colores, "ssCard");
        }
        .servicios__img {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding-bottom: 15px;
            flex-grow: 1;
            }
        .servicios--subtitulo {
            text-align: center;
            }
    }
}

