$fondoSubtitulo: linear-gradient(to bottom,  #547c92,  #daecf6);
$colores: (
    "bkgForm": rgba(0, 0, 0,0.08),
    "bkgButtonForm": rgb(190, 189, 189),
    "bkg": lightgrey,
    "letra": black,
    "opacity": darkgrey,
    "buttonHero": rgba(211, 211, 211,0.85),
    "hoverUl": rgb(225, 229, 229),
    "h": #fff,
    "aCard": #649fbe
);
@mixin h3 {
    margin-bottom: 8px;
}
@mixin main {
    padding-top: 2.5rem;
    min-height: 100vh;
    max-width: 100%;
}
